In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('dataset/advertising.csv')

In [3]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [6]:
#Cheking for missing values
df.isna().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [7]:
# Train Test Split
from sklearn.model_selection import train_test_split
X = df.drop('Sales',axis=1) 
y = df['Sales']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=23)

In [8]:
# Building Model
from sklearn.linear_model import LinearRegression

In [9]:
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression()

In [10]:
X_train

        TV  Radio  Newspaper
186  139.5    2.1       26.6
3    151.5   41.3       58.5
169  284.3   10.6        6.4
76    27.5    1.6       20.7
137  273.7   28.9       59.7
..     ...    ...        ...
91    28.6    1.5       33.0
31   112.9   17.4       38.6
182   56.2    5.7       29.7
40   202.5   22.3       31.6
83    68.4   44.5       35.6

[140 rows x 3 columns]

In [11]:
# prediction
y_pred = lin_reg.predict(X_test)

In [12]:
#Evaluation
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [13]:
print(lin_reg.__class__.__name__,'MSE:', mean_squared_error(y_test, y_pred))
print(lin_reg.__class__.__name__,'R2 Score:', r2_score(y_test, y_pred))

LinearRegression MSE: 2.806741947581631
LinearRegression R2 Score: 0.9210102489166259

In [16]:
#Save the Model
import pickle

In [17]:
pickle.dump(lin_reg, open("model.pkl", 'wb'))