In [16]:
import pandas as pd
import numpy as np

In [17]:
pwd

'/Users/negar/Documents/Github/Assignments/Week_5'

In [18]:
df = pd.read_csv('dataset/insurance.csv')

In [19]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [20]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [22]:
#Cheking for missing values
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [23]:
df = pd.get_dummies(df, drop_first=True)

In [24]:
# Train Test Split
from sklearn.model_selection import train_test_split
X = df.drop('charges',axis=1) 
y = df['charges']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=23)

In [25]:
# Building Model
from sklearn.linear_model import LinearRegression

In [26]:
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression()

In [27]:
X_train

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
923,34,35.815,0,1,0,1,0,0
1121,46,38.170,2,1,0,0,1,0
713,20,40.470,0,1,0,0,0,0
552,62,21.400,0,1,0,0,0,1
738,23,31.730,3,1,1,0,0,0
...,...,...,...,...,...,...,...,...
31,18,26.315,0,0,0,0,0,0
950,57,18.335,0,1,0,0,0,0
1064,29,25.600,4,0,0,0,0,1
742,53,34.105,0,1,1,0,0,0
595,46,33.725,1,0,0,0,0,0

In [33]:
# sklearn regression module
y_pred_sk = lin_reg.predict(X_test)

#Evaluvation: MSE
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [31]:
J_mse_sk = mean_squared_error(y_pred_sk, y_test)

35313304.80808113

In [34]:
print(lin_reg.__class__.__name__, accuracy_score(y_test, lin_reg.predict(X_test)))

ValueError: continuous is not supported

In [35]:
y.mean()

13270.422265141257